<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Register</title>
  </head>
  <body class="bg-nav">
    <p style="margin-left: 10px;">
      <a href="https://github.com/hsallaku/Pass-Adviser" class="navbar-brand text-light" target="_blank">Haki Sallaku© / Github Link</a>
    </p>

    <div class="container" style="margin-bottom:150px">
      <div class="row">
        <div class="col-md-8 mt-100">
          <h1 class="text-light display-4" style="font-size:80px">Bring safety to your online presence with PassAdviser</h1>
        </div>
        <div class="col-md-4 mt-120">
          <div class="card">
            <div class="card-body">
              <form action="/register" method="post">
                <label>Email</label>
                <input id="email" autofocus name="email" type="email" class="form-control"><br>
                <label>Password</label>
                <br><p class='error'>Must contain at least 8 characters, <br> including a letter and a number</p>
                <input id='pass' class="form-control" name="password" type="password"><br>
                <label>Confirm Password</label>
                <input id='confirm-pass' class="form-control" name="confirm-password" type="password"><br>
                <input id="submit" type="submit" class="btn btn-primary btn-block btn-lg" value="Register">
              </form>
              <p class="mt-2">Already have an account? <a href="/">Login here.</a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
    // password validation, you can submit only if the pass is at least 8 characters and contains only alphanumeric characters
        document.querySelector('#submit').disabled = true;
        document.querySelector('#pass').onkeyup = function() {
            let password = document.querySelector('#pass').value;

            if (password.length > 7 && password.match(/^[0-9a-z]+$/i) && password.match(/\d/) && password.match(/[a-z]/i)){
                document.querySelector('#submit').disabled = false;
            }
            else {
                document.querySelector('#submit').disabled = true;
            }
        }
    </script>

  </body>
</html>